:root {
    --color-bg: #233340;
    --color-bgsecondary: #3d5b70;
    --color-white: #92c4f3;
    --color-hover: #1e70bc;
    --color-logolight: #7db4e9;
    --color-logodark: #1167b9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "PP Supply Sans", sans-serif;
    background: var(--color-bg);
}

.container {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.container .navbar {
    border-radius: 10px;
    width: 40%;
    min-width: 375px;
    padding: 15px;
    background-color: var(--color-bgsecondary);
    display: flex;
    justify-content: space-between;
}

.navbar button {
    border-radius: 10px;
    background-color: var(--color-logodark);
    color: var(--color-logolight);
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    outline: 1px solid var(--color-logolight);
}

.navbar button:hover {
    background-color: var(--color-logolight);
    color: var(--color-logodark);
    transition: 0.5s;
}

.navbar button.active {
    background-color: var(--color-logolight);
    color: var(--color-logodark);
}

.episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.episodes ul {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 375px;
    padding: 10px;
    list-style-type: none;
}

.episodes ul li {
    border-radius: 10px;
    outline: 2px solid var(--color-logolight);
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-color: var(--color-logodark);
    color: var(--color-logolight);
}

.content a {
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-logodark);
    color: var(--color-logolight);
    padding: 5px;
    outline: 1px solid var(--color-logolight);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content a:hover {
    background-color: var(--color-logolight);
    color: var(--color-logodark);
    transition: 0.5s;
}