@import url('css/episodes.css');
@import url('css/contact.css');
@import url('css/toggle.css');
@import url('css/buttons.css');
@import url('css/responsive.css');


:root {
    --color-bg: #233340;
    --color-bgsecondary: #3d5b70;
    --color-white: #92c4f3;
    --color-hover: #1e70bc;
    --color-logolight: #7db4e9;
    --color-logodark: #1167b9;
    --color-classes: #cd945a;
    --color-classes2: #8c3a3a;
    --color-php: #777BB4;
    --color-php2: #4F5B93;
    --color-js1: #42B883;
    --color-js2: #35495E;
    --color-laravel: #1A1A1A;
    --color-laragray: #F3F4F6;
    --color-larared: #911a13;

    /* toggle */
    --sz: 2vmin;
    --on: #4CAF50;
    --of: #f50000;
    --gr: #666666;
    --tr: all 0.5s ease 0s;
    --lg: var(--of);
    /* toggle end */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "PP Supply Sans", sans-serif;
    transition: 2s;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-bgsecondary);
    color: var(--color-white);
    z-index: 1000;
    /* Ensure it stays on top of other elements */
}

.toggleFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#toggleText {
    margin-right: 5px;
}

.nav-links {
    display: flex;
    justify-content: left;
    width: 30%;
    list-style-type: none;
}

/* .nav-links button {
    border-radius: 10px;
    background-color: var(--color-logodark);
    color: var(--color-logolight);
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    outline: 1px solid var(--color-logolight);
}

.nav-links button:hover {
    background-color: var(--color-logolight);
    color: var(--color-logodark);
    transition: 0.5s;
    cursor: pointer;
} */

nav .logo img {
    height: 100px;
}



/* Home start */
.presentation {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.titles {
    /* Align children left */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
}

.home,
.about {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: var(--color-white);
    column-count: 2;
    column-gap: 2em;
}

/* Home end */




@media only screen and (max-width: 650px) {

    .presentation {
        flex-direction: column;
        padding: 10px;
    }

    .titles {
        height: 30vh;
    }

    .home,
    .about {
        width: 90%;
        height: auto;
    }
}

/* End of media query 650 */

@media only screen and (max-width: 450px) {
    :root {
        --sz: 3vmin;
    }
}

/* End of media query 450 */